body.about {
	background-color: $light;
	section {
		color: $dark;
		min-height: calc(100% - #{$patternHeight*3});
		padding: $patternHeight $patternWidth*3 $patternWidth $patternWidth*5;
		.inner .text {
			font-family: 'Archivo Black', 'Arial Black', Arial;
			@include largeText;
			a {
				color: $highlight;
			}
		}
	}
}