body.author {
	section {
		padding: $patternHeight $patternWidth*3 $patternWidth $patternWidth*5;
		.inner {
			h1 {
				font-family: 'Libre Baskerville';
				font-weight: normal;
				text-transform: uppercase;
				@include mediumText;
				line-height: 1em;
				margin: $patternWidth auto #{$patternHeight*3} auto;
			}
		}
	}
}