.relative {
	position: relative;
}
#filter {
	.tabs {
		width: 100%;
		max-height: 100%;
		left: 0;
		top: 0;
		position: absolute;
	  display: flex;
	  flex-direction: column;
	  z-index: 10;
	  @include noTouch;
		background-color: $highlight;
	  #filterTabsInner {
	  	width: calc(100% - #{$patternWidth} * 13);
			min-width: $minWidth;
			max-width: calc(#{$patternWidth} * 43);
	  	height: #{$patternHeight*3};
	  	padding: 0 $patternWidth 0 calc(#{$patternWidth} * 11);
	  	display: table;
	  	.vert {
	  		display: table-cell;
	  		vertical-align: middle;
	  		padding: .25em;
	  	}
	  	&.hide {
	  		opacity: 0;
	  		pointer-events: none;
	  	}
	  	.tab {
	  		padding: .5em 0 .5em 0;
	  		text-align: center;
				background: transparent;
				color: $dark; 
		    margin-right: $patternWidth;
		    float: left;
		    display: table;
		    span {
		    	display: table;
		    }
		    @include small {
		    	padding: .25em .5em .25em 0;
		    }
				&.tab {
					&.selected {
						color: black;
						&:hover {
							color: black;
						}
					}
					&:hover {
						color: black;
						cursor: pointer;
						@include small {
							color: $dark;
						}
					}
				}
	  	}
	  	@include small {
	  		width: calc(100% - #{$patternHeight});
	  		padding-left: $patternHeight/2;
	  		padding-right: $patternHeight/2;
	  		.tab {
	  			padding: .25em 0 .25em 0;
	  			margin-right: $patternHeight;
	  		}
	  	}
	  }
	}
	#filterTabs {
		position: fixed !important;
  	z-index: 50;
  	@include small {
  		top: #{$patternWidth};
  	}
	}
	#filterLists {
		width: calc(100% - #{$patternWidth} * 13);
		min-width: $minWidth;
		max-width: calc(#{$patternWidth} * 43);
  	height: #{$patternHeight*3};
  	padding: 0 $patternWidth 0 calc(#{$patternWidth} * 12);
		overflow: hidden;
		display: none;
		z-index: 10;
		flex-grow: 1;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: $dark;
		.inner {
			width: 100%;
			padding: 0;
			position: relative;
			display: block;
		}
		&.show {
			display: table;
		}
	}
	.filterList {
		width: 100%;
		height: #{$patternHeight*3};
		display: none;
		overflow: scroll;
		background-color: $dark;
		&.show {
			display: table;
		}
		@include small {
			width: 100%;
			padding: 0;
		}
		.filters {
			height: 100%;
			font-weight: 700;
			list-style: none;
			white-space: normal;
			display: table;
			@include small {
	  		padding: 0;
	  		display: table-cell;
		    vertical-align: middle;
	  	}
			.filter {
				background-color: transparent;
				margin: 0 $patternWidth 0 0;
				border-color: transparent;
				color: $light;
				display: table;
				float: left;
				padding: .25em 0;
				@include small {
					margin: #{$patternHeight/4} #{$patternHeight} #{$patternHeight/4} 0;
				}
				&.selected {
					color: black;
					&:hover {
						color: black;
					}
				}
				&:hover {
					color: black;
				}
			}
		}
	}
	.view {
		display: table;
		padding: .5em; 
		float: left;
		@include small {
			display: none;
		}
		@include xSmall {
			display: none;
		}
	  &:hover {
			cursor: pointer;
			color: $medium;
		}
	  .option {
	  	display: block;
	  	&.hidden {
	  		display: none;
	  	}
	  }
	}
	&.bottom {
		.dummy {
			position: static !important;
		}
		#filterTabs {
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
			top: auto;
			&.fixed {
				position: absolute !important;
			}
		}
	}
	@include large {
		#filterTabsInner {
			width: calc(100% - #{$patternWidth} * 7) !important;
		}
	}
	@include medium {
		#filterTabsInner, #filterLists {
			width: calc(100% - #{$patternWidth} * 5) !important;
			padding-left: calc(#{$patternWidth} * 5) !important;
		}
	}
	@include small {
		#filterTabsInner {
			width: calc(100% - #{$patternHeight*1.5}) !important;
			padding-left: $patternHeight*1.5 !important;
		}
		#filterLists {
			width: calc(100% - #{$patternHeight*1.5}) !important;
			padding-left: $patternHeight*1.5 !important;
		}
	}
}