footer {
	.categories {
		padding-bottom: $patternWidth*2;
		@include baseText;
		font-weight: 700;
		list-style: none;
		white-space: normal;
		background-color: transparent;
		background-image: url(/assets/images/pattern.svg);
		.right {
			display: none;
		}
		.category {
			height: calc(#{$patternHeight*4} - 6px);
			margin: 0 #{$patternHeight*2} #{$patternHeight*2} 0;
			display: inline-table;
			color: $dark;
			background-color: transparent;
			border-style: solid;
			background-color: $light;
			border-color: $light;
			border-width: 3px 0;
			@include noTouch;
			a {
				width: 100%;
				height: 100%;
		    text-align: center;
		    position: relative;
		    display: table;
		    .title {
		    	width: calc(100% - 1em);
		    	padding: 0 .5em;
		    	text-align: center;
    	    white-space: nowrap;
		    }
		    .pattern {
		    	width: 100%;
		    	height: 100%;
		    	position: absolute;
		    	left: 0;
		    	top: 0;
		    	display: none;
		    }
			}
			&:hover {
				height: calc(#{$patternHeight*4});
				border-width: 0;
				color: black;
				cursor: pointer;
				.title {
					visibility: none;
				}
				.pattern {
					display: block;
				}
			}
		}
		.toggle {
			display: none;
		}
		@include small {
			width: 100% !important;
			padding: $patternWidth 0 $patternWidth 0;
			background-color: $dark;
			background-image: none;
			.category {
				display: none;
				height: calc(#{$patternWidth} - 6px) !important;
				margin-bottom: 0;
				padding: $patternHeight/2 0;
				background: $dark;
				border-color: $dark;
				color: $light;
				&:not(.toggle):first-child {
					padding-top: $patternWidth !important;
				}
				&:hover {
					border-width: 3px 0;
					.title {
						visibility: visible;
					}
					.pattern {
						display: none;
					}
				}
			}
			.toggle {
				height: calc(#{$patternHeight*4} - 6px);
				display: table;
				margin: 0;
				padding: 0;
				a {
					.title {
						width: auto;
						position: absolute;
						left: 0;
						top: 0;
					}
				}
			}
			.close {
				display: none;
			}
			&.toggled {
				.open {
					display: none;
				}
				.close {
					display: table;
				}
				.category {
					width: 100% !important;
					margin-left: 0 !important;
					display: block;
					a {
						.title {
							white-space: pre-wrap;
						}
					}
				}
			}
		}
	}
	.row {
		width: 	100%;
		height: #{$patternHeight*6};
		display: table;
	  background-size: $patternWidth;
	  background-repeat: repeat;
		background-color: $light;
		color: $dark;
		position: relative;
		&.twitter {
			background-image: url(/assets/images/footer/twitter.svg);
		}
		&.instagram {
			background-image: url(/assets/images/footer/instagram.svg);
		}
		&.soundcloud {
			background-image: url(/assets/images/footer/soundcloud.svg);
		}
		&.mail {
			background-image: url(/assets/images/footer/mail.svg);
		}
		&.subscribe {
			background-image: url(/assets/images/footer/subscribe.svg);
		}
		&:hover {
			background: none;
			color: $dark;
			a {
				height: calc(100% - .2em);
				margin: .1em 0;
				span {
					background: $highlight;
					display: table-cell;
				}
			}		
		}
		a {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: table;
			span {
				text-align: center;
		    @include mediumText;
		    line-height: 1em;
		    vertical-align: middle;
		    display: none;
			}
			&:hover {
				color: $dark;
			}
		}
		&.search {
			input {
				background-image: url(/assets/images/footer/search.svg);
				background-color: $light;
				color: transparent;
				@include baseText;
				line-height: 1em;
				text-align: center;
				background-size: $patternWidth;
				@include placeholder(transparent);
				@include small {
					@include placeholder($dark);
					background-image: none;
					background: $highlight;
					color: $dark;
				}
			}
			&:hover input, input:hover, input.hover, input:active, input:focus {
				@include placeholder($dark);
				background-image: none;
				background: $highlight;
				color: $dark;
			}
		}
	}
	#colophon {
		width: calc(100% - #{$patternWidth*8});
		padding: $patternWidth $patternWidth*3 $patternWidth $patternWidth*5;
		ul {
			padding: 0;
			margin: 0;
			li {
				list-style: none;
			}
		}
	}
}