body.about, body.lexicon {
	color: $light;
	h3, h4 {
		@include mediumText;
		font-family: $serif;
		letter-spacing: 1px;
		width: 100%;
		font-weight: normal;
		text-transform: uppercase;
		text-align: center;
		margin: 0 0 $patternHeight 0;
	}
	section:not(#categories) {
		min-height: auto;
		display: table;
		.inner .text {
			font-family: $serif;
			@include largeText;
			a {
				border-bottom: 1px solid;
			}
		}
	}
}