@mixin xSmall {
  @media (max-width: #{$xSmallWidth}) {
    @content;
  }
}

@mixin small {
  @media (max-width: #{$smallWidth}) {
    @content;
  }
}

@mixin medium {
  @media (max-width: #{$mediumWidth}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$largeWidth}) {
    @content;
  }
}

@mixin xLargeText {
  font-size: 2.2em;
  line-height: 1.3em;
}
@mixin largeText {
  font-size: 1.8em;
  line-height: 1.3em;
}
@mixin mediumText {
  font-size: 1.2em;
  line-height: 1.4em;
}
@mixin baseText {
  font-size: 1em;
  line-height: 1.5em;
}
@mixin smallText {
  font-size: .75em;
  line-height: 1.3em;
}
@mixin xSmallText {
  font-size: .6em;
  line-height: 1.3em;
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {  
    color: $color;
  }
}

@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin noTouch {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('/assets/fonts/LibreBaskerville-Regular.eot');
  src: url('/assets/fonts/LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/LibreBaskerville-Regular.woff2') format('woff2'),
    url('/assets/fonts/LibreBaskerville-Regular.woff') format('woff'),
    url('/assets/fonts/LibreBaskerville-Regular.ttf') format('truetype'),
    url('/assets/fonts/LibreBaskerville-Regular.svg#LibreBaskerville-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Baskerville Italic';
  src: url('/assets/fonts/LibreBaskerville-Italic.eot');
  src: url('/assets/fonts/LibreBaskerville-Italic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/LibreBaskerville-Italic.woff2') format('woff2'),
    url('/assets/fonts/LibreBaskerville-Italic.woff') format('woff'),
    url('/assets/fonts/LibreBaskerville-Italic.ttf') format('truetype'),
    url('/assets/fonts/LibreBaskerville-Italic.svg#LibreBaskerville-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Libre Baskerville Bold';
  src: url('/assets/fonts/LibreBaskerville-Bold.eot');
  src: url('/assets/fonts/LibreBaskerville-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/LibreBaskerville-Bold.woff2') format('woff2'),
    url('/assets/fonts/LibreBaskerville-Bold.woff') format('woff'),
    url('/assets/fonts/LibreBaskerville-Bold.ttf') format('truetype'),
    url('/assets/fonts/LibreBaskerville-Bold.svg#LibreBaskerville-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo Black';
  src: url('/assets/fonts/ArchivoBlack-Regular.eot');
  src: url('/assets/fonts/ArchivoBlack-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/ArchivoBlack-Regular.woff2') format('woff2'),
    url('/assets/fonts/ArchivoBlack-Regular.woff') format('woff'),
    url('/assets/fonts/ArchivoBlack-Regular.ttf') format('truetype'),
    url('/assets/fonts/ArchivoBlack-Regular.svg#ArchivoBlack-Regular') format('svg');
  font-weight: bold;
  font-style: normal;
}