section#shelf {	
	#categories {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		.category {
			// width: 100%;
			display: inline-block;
			margin: 20px;
			.title {
				width: 100%;
				height: 100%;
				display: table;
				.bottom {
					display: table-cell;
					vertical-align: bottom;
					text-align: right;
					a {
						font-size: 5em;
						line-height: 1.3em;
						font-family: 'Elephant';
						text-transform: uppercase; 
						&:hover {
							color: $red;
						}
					}
					.readMore {
						display: none;
						font-weight: bold;
					}
				}
			}
			.card {
				width: calc(80% - 4em);
				max-width: 700px;
				padding: 2em;
				margin: 1em auto;
				background: white;
				color: $red;
				border: solid 1px red;
				border-radius: 4px;
				display: none;
			}
			&.opened {
				width: calc(100% - 40px);
				display: table;
				.title a {
					color: $red;
				}
				.readMore {
					display: none !important;
				}
				.bottom {
					display: table;
					margin: auto;
				}
				.card {
					display: block;
				}
			}
		}
		.book {
			margin: 20px;
			display: flex;
			a {
				display: table;
				border-width: 0 2px 2px 0;
				border-style: solid;
				// border-radius: 4px;
				// background: $yellow;
				align-self: flex-end;
				.inner {
					padding: 0.5em;
					.author {
						font-size: 0.7em;
						margin-top: 0.2em;
					}
				}
				&:hover {
					color: $red;
					border-color: $red;
				}
			}
		}
	}
}
section#intro {
	.text {
		width: calc(60% - 2em);
		padding: 1em;
		margin-left: 40%;
		font-size: 1.6em;
		line-height: 1.2;
		font-family: Helvetica Neue;
		font-weight: bold;
	}
}
section#masonry {
	.title {
		display: table;
		font-size: 4em;
		line-height: 1em;
		margin-bottom: .5em;
	}
	.book {
		display: table;
		border: 1px solid;
		background: white;
		margin-bottom: .5em;
		a {

		}
	}
}
section#colophon {	
	font-size: 0.6em;
	line-height: 1.3;	
	ol {
		margin: 0;
		padding: 0;
		font-size: 2.5em;
		line-height: 1.3;
		list-style: none;
		ol {
			font-size: inherit;		
		}
		li {
			display: flex;
			overflow: hidden;
			.index {
				&::after {
					font-style: normal;
					content: '\00a0';
				}
			}
			.dots {
				position: relative;
				flex-grow: 1;
				span {
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					overflow: hidden;
					font-family: Times;
					letter-spacing: 0.1em;
				}
			}
			.count {
				font-style: normal;
				font-family: Helvetica Neue;
				opacity: 0.5;
			}
		}
	}
}
section#sentence {	
	font-size: 2.5em;
	line-height: 1.3;	
}
section#paragraph {
	ol {
		padding: 0;
		margin: 0;
		display: inline;		
		font-size: 2.5em;
		line-height: 1.3;
		list-style: none;
		ol {
			font-size: inherit;		
		}
		li {
			padding: 0;
			margin: 0;
			display: inline;
			a {
				
			}
			&.category {
				.title {
					font-family: 'Elephant';
					font-size: 1.4em;
					font-weight: normal;
					&::after {
						font-size: 0.8em;
						padding: 0 0.2em;
						content: '➤';
					}
				}
			}
			&.book {
				color: $black;
				font-style: oblique;
				// font-family: Times;
				font-family: Helvetica Neue;
				&:hover {
					color: $red;
				}
				a {
					
				}
				&::after {
					color: $black !important;
					font-style: normal;
					content: '\00a0⋮\00a0';
					pointer-events: none;
				}
				&:last-child::after {
					font-style: normal;
					content: '. ';	
				}
				.year {
					font-size: 0.8em;
					font-style: normal;
					font-family: Helvetica Neue;
					opacity: 0.5;
					&::before {
						font-style: normal;
						content: '\00a0';
					}
				}
			}
		}
	}
}