section {
	width: calc(100% - #{$patternWidth*6});
	padding: $patternWidth*3;
	margin: 0;
	position: relative;
	@include tablet {
		width: calc(100% - #{$patternWidth*2});
		padding: $patternWidth;
	}
	@include phone {
		width: 100%;
		padding: $patternWidth 0;
	}
	.middle {
		min-height: 100%;
		display: block;
		font-weight: normal;
		padding: 0 $patternWidth;
		.inner {
			max-width: 700px;
			padding: $patternHeight*2 0;
			// margin: auto;
			// display: table;
		}
	}
}
section.frame {
	min-height: calc(100vh - #{$patternHeight}*12);
	display: table;
	font-size: 1.3em;
	line-height: 1.5em;
	font-weight: 700;
	color: $light;
  .inner {
  	width: 100%;
  	height: calc(100vh - #{$patternHeight}*12);
  	background-color: $dark;
  	display: table;
  }
  .vert {
		padding: 0 .5em;
	}
	.horz {
		padding: $patternHeight $patternWidth;
		max-width: 900px;
	}
	&.invert {
		color: $dark;
		.inner {
			background-color: $light;
		}
	}
}

section#categories {
	z-index: 10;
}
