aside {
	width: calc(10% + #{$sideWidth} - 2em);
	float: left;
	z-index: 10;
	padding: 0 1em;
	color: $green;
	background: $white;
	flex-grow: 1;
	.group {
		padding-bottom: 1em;
	}
	.select {
		font-size: 1em;
		border: solid $white;
		border-width: 0 2px 2px 0;
		padding: 0 0 0 0.2em;
		select {
			width: 100%;
			padding: 0.2em 0 0.2em 0.2em;
			font-size: 2em;
			color: $white;
			text-align: center;
			border: 0;
			background: transparent;
			pointer-events: all;
			&:hover {
				color: $black;
			}
		}
	}
	&.fixed {
		position: fixed;
	}
}