aside {
	width: $sideWidth;
	min-height: 100%;
	float: left;
	z-index: 10;
	flex-grow: 1;
  overflow: hidden;
  &.border {
  	background-image: url(/assets/images/patternG.png);
	  background-size: $patternWidth;
	  background-repeat: repeat;
	  background-color: $white;
	  background-position: top left;
  }
  .inner {
  	width: calc(100% - #{$patternWidth});
  	max-width: 100% !important;
  	min-height: calc(100% - #{$patternHeight}*2);
		display: block !important;
		margin: 0 0 0 $patternWidth;
  	background-color: $white;
  	color: $green; 
  }
	.group {
		width: calc(100% - 2em);
		padding: 0 1em 1em 1em;
		display: table;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				line-height: 1em;
				div:first-child {
					font-weight: 400;
					font-style: normal;
				}
				div:last-child {
					padding-bottom: .5em;
					font-weight: 600;
					font-style: normal;
				}
			}
		}
	}
	.select {
		font-size: 1em;
		padding: 0 0 0 0.2em;
		select {
			width: 100%;
			padding: 0.2em 0 0.2em 0.2em;
			font-size: 1em;
			color: $green;
			text-align: center;
			border: 0;
			background: transparent;
			pointer-events: all;
			&:hover {
				color: $black;
			}
		}
	}
	&.fixed {
		position: fixed;
	}
}