@import 'https://fonts.googleapis.com/css?family=Lora';
@import 'vars';
@import 'sections';
@import 'side';
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: $white;
	font-family: Helvetica Neue;
	font-weight: bold;
	font-size: 19px;
	color: $black;
	line-height: 1.3em;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-size: 15px;
  background-repeat: repeat;
}
////////////////////////////////////////////////
a, a:hover, a:visited {
	color: inherit;
	text-decoration: none;
}
select, input {
  background: $white;
  border: solid 1px $black;
  border-radius: 4px;
	font-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	-webkit-appearance: none;
  outline: none;
  font-family: Helvetica Neue;
	font-weight: bold;
}
select {
	&:hover {
		cursor: pointer;
	}
}
////////////////////////////////////////////////
#content {
	width: 100%;
	display: table;
	position: relative;
	overflow: visible;
}
////////////////////////////////////////////////
header#top {
	padding: 0.5em 1.5em 5em 1.5em;
	font-family: "Elephant";
  font-weight: normal;
  .logo {
  	font-size: 5em;
  	line-height: 1em;
  }
	div.select {
		position: relative;
		display: inline-block;
		span{
			color: transparent;
			pointer-events: none;
		}
	}
	select {
		font-family: 'Elephant';
		font-size: 1em;
		line-height: 1;
		overflow: visible;
		background: transparent;
		border: 0;
		display: inline;
		-webkit-appearance: none;
	  -webkit-border-radius: 0px;
	  outline: none;
	  &:hover {
	  	cursor: pointer;
	  }
	}
	.logo {
		display: inline-block;
		select {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	.category {
		display: inline-block;
		select {
			color: $red;	
		}
	}
}
////////////////////////////////////////////////
main {
	width: 100%;
	// width: calc(100% - #{$sideWidth} - 1em - #{$sidePad});
	height: 100%;
	padding: 0;
	// padding: 0 calc(#{$sideWidth} + .5em + #{$sidePad}) 0 .5em;
	margin: 0;
	position: relative;
}
@import 'pages/book';