@import 'https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900';
@import 'vars';
@import 'mixins';
html, body {
	width: 100%;
	min-width: $minWidth;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: $sans;
  background-color: $light;
	color: $dark;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-size: 19px;
  line-height: 1.3em;
  font-weight: normal;
  @include medium {
  	font-size: 15px;
	  line-height: 1.3em;
	  content: 'medium';
  }
  @include small {
  	font-size: 17px;
	  line-height: 1.3em;
	  content: 'small';
  }
  @include xSmall {
  	font-size: 17px;
	  line-height: 1.3em;
	  content: 'xSmall';
  }
}
h1 {
	@include largeText();
}
main {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
  &.noScroll {
		overflow: hidden;		
	}
	@include small {
		height: calc(100% - #{$patternWidth} - 8px) !important;
		padding-top: calc(#{$patternWidth} + 8px) !important;
	}
}
section {
	width: calc(100% - #{$patternWidth*8});
	padding: $patternWidth*3 $patternWidth*3 $patternWidth*3 $patternWidth*5;
	margin: 0;
	position: relative;
	@include small {
		width: calc(100% - #{$patternWidth*2}) !important;
		padding: $patternWidth !important;
	}
	.middle {
		min-height: 100%;
		display: block;
		font-weight: normal;
		padding: 0 $patternWidth;
		.inner {
			max-width: 700px;
			padding: $patternHeight*2 0;
			// margin: auto;
			// display: table;
		}
	}
	h1 {
		height: #{$patternWidth * 2};
		text-align: center;
		display: table;
		margin: 0 auto #{$patternHeight*3} auto;
		@include largeText;
		line-height: 1em;
		position: relative;
		.beta {
			width: 100%;
			position: absolute;
	    bottom: 0;
	    left: 0;
			font-size: .5em;
	    line-height: 1.3em;
	    text-transform: uppercase;
	    opacity: .2;
		}
	}
	&.intro {
		.inner {
			width: calc(100% - #{$patternWidth*10});
			max-width: 800px;
			padding: 0 $patternWidth*2 $patternWidth $patternWidth*8;
			font-weight: normal;
			letter-spacing: 1px;
			@include medium {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
			@include small {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
			.text {
				font-family: 'Libre Baskerville';
				font-weight: normal;
				@include baseText;
				padding-bottom: #{$patternWidth*3};
			}
			// .horz {
			// 	padding: $patternWidth*2;
			// 	max-width: 900px;
			// }
		}
	}
}

////////////////////////////////////////////////
a, a:visited {
	color: inherit;
	text-decoration: none;
	&:hover {
		// color: $highlight;
	}
}
select, input {
  background: $dark;
  border: solid 1px $black;
  border-radius: 4px;
	font-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	-webkit-appearance: none;
  outline: none;
  font-family: Helvetica Neue;
	font-weight: 600;
}
select {
	&:hover {
		cursor: pointer;
	}
}
.pattern {
	background-image: url(/assets/images/pattern.svg);
  background-size: $patternWidth;
  background-repeat: repeat;
	background-color: $light;
	color: $light;
	&.invert {
		background-image: url(/assets/images/pattern.svg);
		background-color: $light;
		color: $dark;
	}
}
p {
	margin: 0;
	&:not(:first-child) {
		margin-bottom: 1em;
	}
}
////////////////////////////////////////////////
////////////////////////////////////////////////
aside {
	width: $patternWidth;
	height: 0;
	position: fixed;
	left: $patternWidth;
	top: #{$patternWidth*5};
	z-index: 100;
	display: table;
	pointer-events: none;
	@include small {
		width: 100%;
		min-width: $minWidth;
		height: $patternWidth;
		left: 0 !important;
		top: 0 !important;
		background-color: $light;
	}
	.inner {
		display: table-cell;
		vertical-align: middle;
		@include small {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		.button {
			// width: $patternWidth;
			// height: $patternWidth;
			margin: 0 0 $patternHeight 0;
			cursor: pointer;
			background-repeat: no-repeat;
			background-position: center;
			background-size: $patternWidth;
			pointer-events: all;
			@include small {
				display: table;
				margin: auto;
				padding: 4px;
				background-size: calc(#{$patternWidth} - 10px);
			}
			a {
				width: 100%;
				height: 100%;
				display: block;
			}
			&:hover {
				color: black;
			}
			// &.home {
			// 	height: calc(#{$patternWidth} + 5px);
			// 	background-image: url(/assets/images/side/home.svg);
			// 	@include small {
			// 		width: #{$patternWidth + $patternHeight};
			// 		height: $patternWidth;
			// 		background-image: url(/assets/images/logo.svg);
			// 		background-size: calc(#{$patternWidth * 2} - 10px);
			// 	}
			// }
			// &.about {
			// 	background-image: url(/assets/images/side/about.svg);
			// }
			// &.books {
			// 	background-image: url(/assets/images/side/book.svg);
			// }
			// &.authors {
			// 	background-image: url(/assets/images/side/author.svg);
			// }
			// &.search {
			// 	background-image: url(/assets/images/side/search.svg);
			// }
		}
		.symbol {
			width: $patternWidth;
			height: $patternHeight;
			margin-bottom: $patternHeight;
			background-image: url(/assets/images/pattern.svg);
			background-size: $patternWidth;
		}
	}
}
////////////////////////////////////////////////
////////////////////////////////////////////////
.search {
	form {
		height: $patternHeight*6;
		input {
			height: $patternHeight*6;
			font-family: 'Archivo Black', 'Arial Black', Arial;
			font-size: 3em;
			line-height: 1.3em;
			color: $dark;
			border: 0;
			border-radius: 0;
			padding: $patternHeight $patternHeight $patternHeight 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			text-align: center;
		}
		input[type="search"] {
			width: 100%;
		}
		input[type="submit"] {
			width: 20%;	
			display: none;
		}
	}
}
.folder {
	position: relative;
}

#subscribe {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: $light;
	background-image: url(/assets/images/pattern.svg);
	z-index: 10000;
	display: none;
	&.open {
		display: block;
	}
	.inner {
		width: calc(100% - #{$patternWidth*6});
		max-width: 800px;
		display: table;
		margin: auto;
		padding: #{$patternWidth*3};
	}
	.row {
		width: 100%;
		margin-bottom: $patternWidth;
		input {
			padding: $patternHeight;
			border: 0;
			border-radius: 0;
			font-family: 'Archivo Black', 'Arial Black', Arial;
			font-size: 3em;
			line-height: 1.3em;
			-webkit-appearance: none;
			-moz-appearance: none;
			text-align: center;
			background-color: $light;
			@include placeholder($medium);
			color: $dark;
			&[type="text"] {
				width: calc(100% - #{$patternHeight});
				height: $patternHeight*6;
				padding-left: 0;
			}
			&[type="submit"] {
				width: calc(50% - #{$patternHeight});
				height: $patternHeight*8;
				float: left;
				&:first-child {
					margin-right: $patternWidth;
				}
				&:hover {
					color: $medium;
					cursor: pointer;
				}
			}
		}
	}
}

.top.patterns {
	height: #{$patternHeight*3};
	.pattern {
		background-color: transparent;
		width: 100%;
		height: $patternHeight;
	}
}

////////////////////////////////////////////////
.min {
	min-height: 100%;
}
.horz {
	display: table;
	margin-left: auto;
	margin-right: auto; 
}
.vert {
	display: table-cell;
	vertical-align: middle;
}
@import 'filter';
@import 'shelf';
@import 'footer';
@import 'pages/home';
@import 'pages/about';
@import 'pages/lexicon';
@import 'pages/books';
@import 'pages/book';
@import 'pages/category';
@import 'pages/author';
@import 'pages/authors';
@import 'pages/search';
@import 'invert';