@import 'vars';
@import 'mixins';
html, body {
	width: 100%;
	min-width: $minWidth;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: $sans;
  background-color: $light;
	color: $dark;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 19px;
  line-height: 1.3em;
  font-weight: normal;
  @include medium {
  	font-size: 15px;
	  line-height: 1.3em;
	  content: 'medium';
  }
  @include small {
  	font-size: 17px;
	  line-height: 1.3em;
	  content: 'small';
  }
  @include xSmall {
  	font-size: 15px;
	  line-height: 1.2em;
	  content: 'xSmall';
  }
}
html {
	overflow: hidden;
	overflow-x: hidden;
  overflow-y: hidden; 
}
body {
	overflow: hidden;
	overflow-x: hidden;
  overflow-y: hidden; 
}
h1 {
	height: #{$patternWidth*2};
	@include largeText();
	text-align: center;
	margin: 0 0 $patternWidth 0;
	text-transform: uppercase;
	@include small {
		height: auto;
	}
}
h3, h4 {
	width: 100%;
	@include mediumText;
	letter-spacing: 1px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 .25em 0;
	cursor: default;
	cursor: default;
	&.author {
		@include baseText;
		width: auto;
		display: table;
		margin: 5px 0 0 0;
		text-align: left;
		padding-top: 0;
	}
}
main {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
  &.noScroll {
		overflow-y: hidden;		
	}
	@include small {
		height: calc(100% - #{$patternWidth}) !important;
		padding-top: calc(#{$patternWidth}) !important;
	}
}
section {
	width: calc(100% - #{$patternWidth*8});
	padding: $patternWidth*3 $patternWidth*3 $patternWidth*3 $patternWidth*5;
	margin: 0;
	position: relative;
	@include small {
		width: calc(100% - #{$patternHeight*3}) !important;
		padding: $patternHeight*1.5;
	}
	.middle {
		min-height: 100%;
		display: block;
		font-weight: normal;
		padding: 0 $patternWidth;
		.inner {
			max-width: $mediumWidth;
			padding: $patternHeight*2 0;
			// margin: auto;
			// display: table;
		}
	}
	#rz {
		height: $patternHeight*5;
		margin-bottom: $patternHeight;
		.relative {
			display: table;
			margin: 0 auto $patternWidth auto;
		}
		h1 {
			height: auto;
			text-align: center;
			display: table;
			margin: 0 auto;
			@include largeText;
			line-height: 1em;
			position: relative;
		}
		.beta {
			width: 100%;
			position: absolute;
	    top: 100%;
	    left: 0;
			@include baseText;
			line-height: 1em;
			text-align: center;
	    text-transform: uppercase;
	    opacity: .2;
		}
		@include small {
			margin-bottom: $patternHeight;
		}
	}
	&.intro {
		width: calc(100% - #{$patternWidth} * 6);
		padding-bottom: $patternWidth;
		.inner {
			width: calc(100% - #{$patternWidth} * 14);
			max-width: calc(#{$patternWidth} * 25);
			padding: 0 0 $patternWidth calc(#{$patternWidth} * 6);
			font-weight: normal;
			letter-spacing: 1px;
			h1 {
				// margin-bottom: 0;
			}
			@include medium {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
			@include small {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
			.text {
				font-family: 'Libre Baskerville';
				font-weight: normal;
				@include baseText;
			}
			// .horz {
			// 	padding: $patternWidth*2;
			// 	max-width: 900px;
			// }
		}
	}
	&.big {
		.inner {
			max-width: $mediumWidth;
			display: table;
			margin: auto;
		}
		.text {
			@include largeText;
			font-family: 'Archivo Black', 'Arial Black', Arial;
			@include medium {
				@include mediumText;
			}
		}
		.symbol {
			height: 1em;
			display: inline-block;
			background-color: transparent;
			background-position: left center;
			background-repeat: repeat;
			background-size: #{$patternWidth*2};
			margin: 0 .25em -0.2em .25em;
			&.period {
				width: #{$patternWidth*2};
				background-image: url(/assets/images/pattern.svg);
			}
			&.comma {
				width: #{$patternWidth};
				background-image: url(/assets/images/pattern.svg);
			}
			&.question {
				width: #{$patternWidth*4};
				background-image: url(/assets/images/pattern.svg);
			}
		}
		a {
			border-bottom: .1em solid;
		}
		p {
			margin: 0;
			&:not(:last-child)::after, #about &:first-child::before {
				width: 100%;
				height: #{$patternWidth*3};
				content: '';
				display: block;
				background-color: transparent;
				background-position: center;
				background-repeat: no-repeat;
				background-size: $patternWidth;
				text-decoration: none;
			}
		}
	}
}

////////////////////////////////////////////////
a, a:visited {
	color: inherit;
	text-decoration: none;
	&:hover {
		// color: $highlight;
	}
}
select, input {
  background: $dark;
  border: solid 1px $black;
  border-radius: 4px;
	font-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	-webkit-appearance: none;
  outline: none;
  font-family: Helvetica Neue;
	font-weight: 600;
}
select {
	&:hover {
		cursor: pointer;
	}
}
.pattern {
	background-image: url(/assets/images/pattern.svg);
  background-size: $patternWidth;
  background-repeat: repeat;
	background-color: $light;
	color: $light;
	&.invert {
		background-image: url(/assets/images/pattern.svg);
		background-color: $light;
		color: $dark;
	}
}
p {
	margin: 0;
	&:not(:last-child) {
		margin-bottom: 1em;
	}
}
////////////////////////////////////////////////
////////////////////////////////////////////////
aside {
	width: $patternWidth;
	height: 0;
	position: fixed;
	left: $patternWidth;
	top: #{$patternHeight*12};
	z-index: 100;
	display: table;
	pointer-events: none;
	.toggle {
		display: none;
		@include small {
			pointer-events: all;
			width: 100%;
			height: $patternWidth;
			display: block;
			text-align: center;
		}
	}
	.inner {
		display: table-cell;
		vertical-align: middle;
		@include small {
			display: none;
		}
		.button {
			// width: $patternWidth;
			// height: $patternWidth;
			margin: 0 0 $patternHeight 0;
			cursor: pointer;
			background-repeat: no-repeat;
			background-position: center;
			background-size: $patternWidth;
			pointer-events: all;
			@include small {
				display: table;
				margin: auto;
				padding: 4px;
				background-size: calc(#{$patternWidth} - 10px);
			}
			a {
				width: 100%;
				height: 100%;
				display: block;
			}
			&:hover {
				color: black;
			}
		}
		.symbol {
			width: $patternWidth;
			height: $patternHeight;
			margin-bottom: $patternHeight;
			background-image: url(/assets/images/pattern.svg);
			background-size: $patternWidth;
		}
	}
	@include small {
		width: 100%;
		min-width: $minWidth;
		left: 0 !important;
		top: 0 !important;
		background-color: $dark;
		color: $light;
		&.toggled {
			.toggle {
				background-color: $highlight;
				color: $dark
			}
			.inner {
				display: block;
				padding-bottom: $patternHeight;
				background-color: $highlight;
				color: $dark;
			}
		}
	}
}
////////////////////////////////////////////////
////////////////////////////////////////////////
.search {
	form {
		height: $patternHeight*6;
		input {
			width: calc(100% - #{$patternWidth});
			height: $patternHeight*6;
			font-family: 'Archivo Black', 'Arial Black', Arial;
			font-size: 3em;
			line-height: 1.3em;
			color: $dark;
			border: 0;
			border-radius: 0;
			padding: 0 $patternHeight;
			-webkit-appearance: none;
			-moz-appearance: none;
			text-align: center;
		}
		input[type="submit"] {
			width: 20%;	
			display: none;
		}
	}
}
.folder {
	position: relative;
}

#subscribe {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: $dark;
	background-image: url(/assets/images/footer/subscribe-invert.svg);
	z-index: 10000;
	display: none;
	overflow-y: auto;
	&.open {
		display: block;
	}
	.inner {
		display: table;
		form {
			width: 100%;
			display: table;
			margin: auto;
		}
	}
	.row {
		width: 100%;
		margin: 0 auto $patternWidth auto;
		input {
			padding: $patternHeight;
			border: 0;
			border-radius: 0;
			font-family: $sans;
			@include mediumText;
			-webkit-appearance: none;
			-moz-appearance: none;
			text-align: center;
			background-color: $dark;
			@include placeholder($medium);
			color: $light;
			&[type="text"], &[type="email"] {
				width: calc(100% - #{$patternHeight});
				height: $patternHeight*4;
				padding-left: 0;
				@include small {
					height: $patternHeight*2;
				}
			}
			&[type="submit"] {
				height: $patternWidth*2;
				margin-right: $patternWidth;
				margin-bottom: $patternWidth;
				@include mediumText;
				float: left;
				&.subscribe {
					width: $patternWidth*5;
				}
				&.cancel {
					width: $patternWidth*4;
				}
				&:hover {
					color: $medium;
					cursor: pointer;
				}
				@include small {
					width: 100%;
					&.submit {
						margin-bottom: $patternWidth;
					}
				}
			}
		}
	}
}

.top.patterns {
	height: #{$patternHeight*3};
	.pattern {
		background-color: transparent;
		width: 100%;
		height: $patternHeight;
	}
}

////////////////////////////////////////////////
.min {
	min-height: 100%;
}
.horz {
	display: table;
	margin-left: auto;
	margin-right: auto; 
}
.vert {
	display: table-cell;
	vertical-align: middle;
}
@import 'filter';
@import 'shelf';
@import 'footer';
@import 'invert';
@import 'pages/home';
@import 'pages/about';
@import 'pages/lexicon';
@import 'pages/books';
@import 'pages/book';
@import 'pages/category';
@import 'pages/author';
@import 'pages/publisher';
@import 'pages/list';
@import 'pages/map';
@import 'pages/search';