$white: white;
$grey: #767037;
$black: black;
$yellow: #fcf200;
$red: red;
$blue: #8ccce4;
$green: #6b8d7c;
$pink: #efdfe7;

$sideWidth: 12em;
$sidePad: 1.5em;

$patternWidth: 28px;
$patternHeight: 15px;

$phoneWidth: 667px;
$tabletWidth: 768px;
$desktopWidth: 1024px;

@mixin phone {
	@media (max-width: #{$tabletWidth}) {
		@content;
	}
}

@mixin tablet {
  @media (min-width: #{$tabletWidth}) and (max-width: #{$desktopWidth - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktopWidth}) {
    @content;
  }
}