$black: black;

$dark: #972068;
$medium: #ccaed3;
$light: #fff3f9;
$highlight: #ed62b2;


$dark: #d02630;
$medium: #e8a298;
$light: #f8e5e3;
$highlight: #feec34;

$sideWidth: 18em;
$sidePad: 1.5em;

$patternWidth: 30px;
$patternHeight: 15px;

$minWidth: 285px;

$xSmallWidth: 480px;
$smallWidth: 600px;
$mediumWidth: 840px;
$largeWidth: 1024px;
$xLargeWidth: 1280px;


$box-shadow: 0 0 1px 2px rgba(0,0,0,.08);

$sans: 'Archivo Black', 'Arial Black', Arial, sans-serif;
$serif: 'Libre Baskerville', Times, serif;
$sansItalic: 'Libre Baskerville Italic', Times, serif;