body.about {
	background-color: black;
	aside {
		.button:hover {
			color: $highlight;
		}
	}
	section#about {
		padding-top: #{$patternHeight*5};
		background-color: black;
		.inner .text p::after {
			background-image: url(/assets/images/pattern-invert.svg);
		}
		@include small {
			padding-top: $patternWidth;
		} 
	}
	section:not(#categories) {
		&#blocks {
			.blocks {
				max-width: $mediumWidth;
				display: table;
				margin: auto;
				.block {
					width: 100%;
					display: table;
					margin: auto;
					padding: $patternWidth 0 $patternWidth*2 0;
					&.rationale {
						padding-top: 0;
					}
					h1 {
						font-family: $sans;
						font-size: 1em;
					}
					.text {
						width: 100%;
						@include largeText;
						float: left;
						@include small {
							@include mediumText;
						}
					}
				}
			}
		}
	}
	footer {
		.bricks {
			background-image: url(/assets/images/pattern-invert.svg);
			.brick {
				color: $light;
			}
		}
		.row {
			input {
				background-image: url(/assets/images/footer/search-invert.svg);
				&:hover, &:active, &:focus {
					background-image: none;
					background-color: $highlight;
				}
			}
			&.twitter {
				background-image: url(/assets/images/footer/twitter-invert.svg);
			}
			&.instagram {
				background-image: url(/assets/images/footer/instagram-invert.svg);
			}
			&.soundcloud {
				background-image: url(/assets/images/footer/soundcloud-invert.svg);
			}
			&.mail {
				background-image: url(/assets/images/footer/mail-invert.svg);
			}
			&.subscribe {
				background-image: url(/assets/images/footer/subscribe-invert.svg);
			}
			&:hover {
				background-image: none;
			}
		}
	}
	footer {
		.bricks {
			.brick {
				border-color: black;
				background-color: black;
				&:hover {
					.pattern {
						background-color: black;
					}
				}
			}
		}
		.row {
			background-color: black;
			input {
				background-color: black;
				&:hover, &:active, &:focus {
					@include placeholder(black);
					background-image: none;
					background-color: $highlight;
					color: black;
				}
			}
			&:hover {
				background-image: none;
				a {
					span {
						color: black;
					}
				}
			}
		}
	}
}