body.author {
	section.intro {
		padding: $patternHeight $patternWidth*3 0 $patternWidth*5;
		.inner {
			h1 {
				font-family: 'Libre Baskerville';
				font-weight: normal;
				text-transform: uppercase;
				@include mediumText;
				line-height: 1em;
				margin: 0 auto #{$patternHeight*3} auto;
			}
		}
	}
	section#shelf {
		padding-top: 0;
	}
}