body.book {

	main {
		width: 100%;
		padding: 0;
		section#title {
			h1 {
				font-size: 6em;
				line-height: 1.1em;
				font-weight: 900;
				margin: 0;
			}
		}
		section#book {
			width: calc(100% - #{$patternWidth*6});
			color: $dark;
			.group {
				margin-top: 1em;
			}
			h1 {
				font-size: 2.5em;
				line-height: 1.2em;
				margin: 0;
				text-align: left;
			}
			.author {
				
			}
			h2 {
				margin-right: .5em;
				font-size: 1em; 
				display: inline;
			}
			.text {
				display: inline
			}
		}
	}
	#content {
		.tabs:not(.fixed) {
			// width: calc(100% - #{$patternWidth*6});
			// left: 0;
		}
		.page {
			min-height: 300px;
			.content {
				display: table;
				padding: $patternHeight;
			}
		}
	}
	section#shelf {
		margin-top: 0;
		margin-bottom: 0;
		.book {
			
		}
	}
	section#categories {
		.category {
			
		}
	}
}