body.book {
	main {
		width: 100%;
		padding: 0;
		.pattern {
			display: table;
		}
		section#book {
			width: calc(100% - #{$patternWidth*6});
			min-height: calc(100vh - #{$patternHeight}*12);
			margin: $patternHeight*6 $patternWidth*3;
			display: flex;
			background: $white;
			color: $green;
			.inner {
				padding: $patternHeight;
			}
			.group {
				margin-top: 1em;
			}
			h1 {
				font-size: 2.5em;
				line-height: 1.2em;
				margin: 0;
				text-align: left;
			}
			.author {
				
			}
			h2 {
				margin-right: .5em;
				font-size: 1em; 
				display: inline;
			}
			.text {
				display: inline
			}
		}
	}
	aside {
		li {
			margin-bottom: 0.5em;
		}
		.cover {
			display: table;
			img {
				max-width: 100%;
				display: table;
				margin: auto;
			}
		}
	}
	section#shelf {
		margin-top: 0;
		margin-bottom: 0;
		.book {
			
		}
	}
	section#categories {
		.category {
			
		}
	}
}