body.book {
	.edge {
		border: 0;
		margin: 0;
	}
	header#top {
		width: calc(100% - 2em);
		padding: 2em 2em 2em 0;
		.logo {
			border: solid $white;
			border-width: 50px 50px 0 0;
		}
	}
	main.book.single {
		padding: 0;
		width: 100%;
		aside {
			img {
				max-width: 100%;
			}
		}
		section#book {
			width: 100%;
			display: table;
			.spread {
				width: 100%;
				display: flex;
				&:first-child {
					width: 100%;
					margin-left: 10em;
				}
				&:last-child {
					transform: translateY(-5px);
				}
				@include tablet {
					margin-left: 0 !important;
				}
				@include phone {
					margin-left: 0 !important;
					display: block;
				}
			}
			.page {
				width: 50%;
				display: inline-block;
				border: solid 1px black;
				background: white;
				float: left;
				font-family: 'Lora';
				font-weight: normal;
				color: $black;
				&:first-child {
					box-shadow: inset -150px 0px 128px -163px rgba(0,0,0,1);
					border-right: 0;
				}
				&:last-child {
					box-shadow: inset 150px 0px 128px -163px rgba(0,0,0,1);
				}
				.inner {
					padding: 10%;
				}
				@include phone {
					// box-shadow: inset 0px -130px 78px -148px rgba(0,0,0,1) !important;
					border: 1px !important;
					width: 100% !important;
				}
				header {
					text-align: center;
					margin: 1em 4%;
					padding: 1em 0 0 0;
					h1 {
						margin: 0;
						font-size: 2.5em;
						line-height: 1.2em;
						font-weight: normal;
						sub {
							vertical-align: baseline;
							font-size: 0.8em;
						}
					}
				}
			}
			.page.first {
				.author {
					padding: 2em 0;
					text-align: center;
					text-transform: uppercase;
				}
				.year {
					text-align: center;
					font-size: 0.8em; 
				}
				.rule {
					width: 45%;
					height: 1px;
					background: black;
					display: table;
					margin: auto;
				}
			}
		} 
		.page.meta {
			width: calc((100vw - 10em)/2 - 5em) !important;
			@include tablet {
				width: 50% !important;
			}
			ul {
				list-style: none;
				padding: 0;
				li {
					display: flex;
					flex-direction: row;
					span {
						white-space: nowrap;
					}
					em {
				    text-align: right;
				    float: right;
				    flex-grow: 1;
					}
				}
			}
		}
	}
}