body.home {
	color: $white;
	main {
		background-image: url(/assets/images/pattern.png);
		background-color: $green;	
	}
	.pattern {
		display: table;
	}
	#categories {
		.category {
			color: $white;
			background-color: $green;
			&:hover {
				color: $green;
				background-color: $white;
			}
		}
	}
}