body.authors, body.publishers {
	#shelf {
		display: table;
		.inner {
			margin: 0;
			padding-bottom: 0;
		}
		.item {
			width: calc(50% - #{$patternWidth});
			float: left;
			margin-right: $patternWidth;
			&.author, &.publisher {
				font-family: 'Libre Baskerville';
			}
			a:hover {
				color: black;
			}
			@include medium {
				width: 100%;
				margin-right: 0;
			}
			h4 {
				@include baseText;
				font-weight: normal;
				text-transform: uppercase;
				margin: 0;
				cursor: default;
			}
		}
	}
}